/***********************************************************************************************************************
 * Elements.
 */

* {
  box-sizing: border-box;
}

body, input, select, button {
  font-family: Arial, Helvetica, sans-serif;
}

body, input, select, button, form, div, span, h4 {
  font-size: 16px;
}

body {
  padding: 0.5rem;
  background-color: #eee;
}

h1 {
  margin: 0;
  color: green;
  text-align: center;
}

h2 {
  margin: 0.5rem 0 1rem 0;
  font-size: 1rem;
  font-style: italic;
  color: limegreen;
  text-align: center;
}

h4 {
  margin: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  color: royalblue;
}

/***********************************************************************************************************************
 * Form elements, general.
 */

select {
  width: 100%;
}

button {
  border-radius: 5px;
  padding: 0.5rem;
  background-color: royalblue;
  border-color: navy;
  color: white;
  width: 100%;
}

button:hover {
  background-color: navy;
}

input[type="number"] {
  width: 50%;
}

/***********************************************************************************************************************
 * Layout.
 */

#wrapper {
  width: 320px;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

.field {
  padding: 0.5rem 0;
}

.control {
  padding: 0;
}

#goal-weight,
#bar-weight {
  box-sizing: border-box;
}

#error {
  display: none;
  background-color: #FFDFDA;
  border: solid 1px red;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 0.25rem;
}

#addon-weights label {
  color: black;
  display: inline;
}

#addon-weights div {
  display: inline;
  padding: 5px;
}

/***********************************************************************************************************************
 * Results.
 */

.result-row {
  padding: 10px;
  background-color: #eee;
  margin-bottom: 10px;
}

.result-row h4,
.result-row div {
  padding: 5px;
}

.plate {
  color: white;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  text-align: center;
  font-size: 16px;
  margin-left: 1px;
  margin-right: 1px;
}

/* Standard Olympic colors are used for the 5, 10, 15, 20, and 25. */
.plate-25 {
  color: white;
  background-color: red;
}

.plate-20 {
  color: white;
  background-color: #0055ff;
}

.plate-15 {
  color: black;
  background-color: yellow;
}

.plate-10 {
  color: white;
  background-color: #00cc00;
}

.plate-7-5 {
  color: white;
  background-color: blueviolet;
}

.plate-5 {
  color: black;
  background-color: white;
}

.plate-2-5 {
  color: white;
  background-color: deeppink;
}

.plate-2-25 {
  color: white;
  background-color: darkorange;
}

.plate-2 {
  color: white;
  background-color: #80aaff;
}

.plate-1-25 {
  color: white;
  background-color: #ffbf80;
}

.plate-1 {
  color: black;
  background-color: #90ee90;
}

.plate-0-75 {
  color: white;
  background-color: #b587e0;
}

.plate-0-5 {
  color: white;
  background-color: black;
}

.plate-0-25 {
  color: black;
  background-color: pink;
}
