/***********************************************************************************************************************
 * Mixins
 */

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content ;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content ;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) {
      @content ;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content ;
    }
  }
}

/***********************************************************************************************************************
 * Colours
 */

$white: #fff;
$light-grey: #eee;
$grey: #ccc;
$dark-grey: #333;
$black: #000;

$dark-red: #cd0000;
$dark-cyan: #0099e5;
$dark-blue: #00189a;
$dark-purple: #aa00ff;
$dark-yellow: #e5e500;
$dark-orange: #ff7f00;
$dark-green: #007f00;
$dark-pink: #ff00ff;

$red: #ff3232;
$cyan: #66ccff;
$blue: #657dff;
$purple: #cc65ff;
$yellow: #ffff00;
$yellow-orange: #ffd500;
$orange: #ffa64d;
$green: #00e500;
$pink: #ff99ff;

$light-red: #ffb2b2;
$light-cyan: #98ddff;
$light-blue: #b3bfff;
$light-purple: #e6b3ff;
$light-yellow: #ffffb3;
$light-orange: #ffcc99;
$light-green: #b3ffb2;

/***********************************************************************************************************************
 * Elements.
 */

* {
  box-sizing: border-box;
}

body {
  padding: 0.5em;
  background-color: $white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

@include breakpoint(desktop) {
  body {
    font-size: 20px;
  }
}

h1 {
  margin: 0;
  color: $dark-green;
  text-align: center;
  font-size: 2em;
}

h2 {
  margin: 5px 0 1em 0;
  font-style: italic;
  font-size: 1em;
  color: $green;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  margin: 0;
}

select, input[type=number] {
  border-radius: 0.2em;
  border: solid 1px $grey;
  height: 2em;
}

input[type=number] {
  width: 50%;
}

button {
  border-radius: 0.2em;
  padding: 0.5em;
  background-color: $blue;
  border-color: $dark-blue;
  color: $white;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: $dark-blue;
  }
}

select, input[type=number], button {
  font-size: 1em;
}

label {
  color: $blue;
}

input[type=checkbox],
input[type=radio] {
  transform: scale(3, 3);
  height: 1.3em;
  margin: 0 1em 0 2em;
}

@include breakpoint(desktop) {
  input[type=checkbox],
  input[type=radio] {
    transform: scale(1.5, 1.5);
    margin: 0 0.5em 0 1em;
  }
}

/***********************************************************************************************************************
 * Layout.
 */

#wrapper {
  width: 100%;
}

@include breakpoint(desktop) {
  #wrapper {
    width: 20em;
  }
}

.field {
  padding: 0.5em 0;

  label {
    display: block;
    margin-bottom: 0.5em;
  }
}

#exercise-type {
  width: 100%;
}

#num-dumbbells-wrapper {
  display: none;

  label {
    display: inline;
    color: $black;
  }
}

#pin-stack-wrapper {
  display: none;
}

#pin-stack {
  width: 50%;
}

#addon-weights-wrapper {
  display: none;
}

#addon-weights {
  label {
    display: inline;
    padding: 0 0.85em 0 0.85em;
    color: $black;
  }

  span:last-child {
    label {
      padding-right: 0;
    }
  }
}

@include breakpoint(desktop) {
  #addon-weights {
    label {
      padding: 0 0.5em 0 0.5em;
    }
  }
}

#error {
  display: none;
  background-color: $light-red;
  border: solid 1px $red;
  border-radius: 0.2em;
  padding: 0.5em 1em;
  margin-bottom: 0.25em;
}

#rare-plates-wrapper {
  label {
    display: inline;
    color: black;
  }
}

#machine-split-wrapper {
  label, input {
    display: inline;
  }

  label {
    color: $black;
  }
}

/***********************************************************************************************************************
 * Results.
 */

#results {
  margin-bottom: 10em;
}

.result-row {
  padding: 0.5em;
  background-color: $light-grey;
  margin: 1em 0;

  h3 {
    margin-bottom: 0.5em;
  }

  label {
    width: 8em;
    display: inline-block;
  }

  > div {
    margin: 0.5em 0;
  }
}

.plates-wrapper > label {
  vertical-align: top;
}

.plates {
  display: inline-block;
}

.plate {
  color: $black;
  text-align: center;
  height: 1.2em;
  margin-top: 1px;
  margin-bottom: 1px;
  display: block;
}

.pin-selection {
  background-color: $dark-grey;
  color: $white;
}

/*
These colours are based off Olympic plate colours for 25, 20, 15, 10, 5, which are red, blue, yellow, green, and white
respectively. Intermediate weights (22.5, 17.5, 12.5, and 7.5) use different hues: cyan, purple, orange, and pink.
Lighter versions are for 10% and lighter again for 1% of these weights. The exception is 0.5kg, for which grey is used.
*/
.plate-25 {
  background-color: $dark-red;
  color: $white;
}

.plate-22_5 {
  background-color: $dark-cyan;
  color: $white;
}

.plate-20 {
  background-color: $dark-blue;
  color: $white;
}

.plate-17_5 {
  background-color: $dark-purple;
  color: $white;
}

.plate-15 {
  background-color: $dark-yellow;
  color: $black;
}

.plate-12_5 {
  background-color: $dark-orange;
  color: $white;
}

.plate-10 {
  background-color: $dark-green;
  color: $white;
}

.plate-7_5 {
  background-color: $dark-pink;
  color: $white;
}

.plate-5 {
  background-color: $white;
}

.plate-2_5 {
  background-color: $red;
  color: $white;
}

.plate-2_25 {
  background-color: $cyan;
  color: $white;
}

.plate-2 {
  background-color: $blue;
  color: $white;
}

.plate-1_75 {
  background-color: $purple;
  color: $white;
}

.plate-1_5 {
  background-color: $yellow;
}

.plate-1_25 {
  background-color: $orange;
}

.plate-1 {
  //background-color: $green;
  background-color: $yellow-orange;
}

.plate-0_75 {
  //background-color: $pink;
  background-color: $dark-red;
  color: $white;
}

.plate-0_5 {
  //background-color: $grey;
  background-color: $dark-blue;
  color: $white;
}

.plate-0_25 {
  //background-color: $light-red;
  background-color: $white;
}

.plate-0_225 {
  background-color: $light-cyan;
}

.plate-0_2 {
  background-color: $light-blue;
}

.plate-0_175 {
  background-color: $light-purple;
}

.plate-0_15 {
  background-color: $light-yellow;
}

.plate-0_125 {
  background-color: $light-orange;
}

.plate-0_1 {
  background-color: $light-green;
}
